.banner {
    background:linear-gradient( to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url('../../images/PORTADA\ DE\ NOSTROS.jpg');
    background-position: center;
    background-size: cover;
}