
.bannerInicio{
    background:linear-gradient(to left bottom, rgba(0, 0, 0, 0.2) 0%, rgb(0, 0, 0) 100%), url('../../images/PORTADA\ DE\ INICIO.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}